@media (max-width:1024px) {
  .page_body {
    max-width: 1024px
  }

  .hero {
    background-position: -15vw top;
  }

  .hero_hello span {
    font-size: 80px;
  }
}

/* 855 */
@media (max-width:855px) {
  .page_body {
    max-width: 855px
  }

  /* nav */
  .nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--bg);
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transform: translateX(-100%);
    visibility: hidden;
  }

  .form__btn {
    height: 40px;
  }

  .nav--active {
    transform: none;
    visibility: visible;
  }

  .nav__list {
    height: 100%;
    padding: 50px 0;
    flex-direction: column;
  }

  /* burger */
  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
  }

  .burger__line {
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main);
    transition: transform 0.3s easy-in-out, top 0.3s ease in ease-in-out;
  }

  .burger__line:first-child {
    top: 0;
  }

  .burger__line:last-child {
    top: calc(100% - 2px);
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%)
  }

  .burger--active .burger__line:nth-child(2) {
    transform: scale(0);
  }

  .burger--active .burger__line:first-child {
    top: 50%;
    transform: rotate(45deg);
  }

  .burger--active .burger__line:last-child {
    top: 50%;
    transform: rotate(-45deg);
  }

  /* hero */
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .hero__level {
    display: none;
  }

  .hero_left,
  .hero__content {
    justify-content: center;
  }

  .hero__content {
    padding-left: 0;
    padding-top: 30vh
  }

  .hero__text {
    max-width: 100%;
    text-align: center;
  }

  .hero__hello {
    text-align: center;
  }

  .latest-shots {
    margin: auto;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

/* 554 */
@media (max-width:554px) {


  .header__container {
    justify-content: initial;
  }

  .header__btn {
    margin-left: auto;
    margin-right: 20px;
  }

  .hero {
    background-position: left 25% top;
  }

  .btn {
    font-size: 14px;
    padding: 8px 12px;
  }
}